/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 10%;
}

.fullwidth,
.fullwidth > *,
.fullwidth > * > * {
  width: 100%;
}

.fullheight * {
  height: 100%;
}
