<div id="contact">
<h1><span>{{music.title}}</span></h1>
<form [formGroup]="musicgroup" (ngSubmit)="updatemusic()">
  <label>
    title:<br>
    <input type="text" formControlName="title">
  </label>
  <br><br>
  <label>
    youtubeId:<br>
    <input type="text" formControlName="youtubeId">
  </label>
  <br><br>
  <label>
    imageLink:<br>
    <input type="text" formControlName="imageLink">
  </label>
  <br><br><br>
  <p-button label="Update Music" type="submit"></p-button><br>
<br>
</form>
<p-button label="BACK" (click)="back()"></p-button></div>