<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register" [formGroup]="musicgroup">
    <div class="row" style="justify-content: center;">
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">EDIT MUSIC</h3>
                    <div class="row register-form" style="justify-content: center;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="title" placeholder="MUSIC NAME " value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="youtubeId" placeholder="YOUTUBE ID " value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="imageLink" placeholder="imageLink" value="" /><button pButton type="button" label="browse"
                                    class="p-button-raised p-button-rounded"></button>
                            </div>
                            <div>
                                <button type="submit" class="btnRegister" (click)="updatemusic()"  >SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>