<div class="card">
    <h5 class="sansserif">MUSIC LIST</h5>
    <div style="text-align:right">
        <p-button (click)=goToCreatePage()>add</p-button>
    </div>
    <p-table [value]="musicList" [scrollable]="true" scrollHeight="600px">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Name</th>
                <th style="text-align: center;">Image</th>
                <th style="text-align: center;">Youtube ID</th>
                <th style="text-align: center;" width="300px;">Edit Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-music>
            <tr>
                <td style="text-align: center;">{{music.title}}</td>
                <td style="text-align: center;"><img style="width: 60px; height: 50px;" src={{music.imageLink}}></td>
                <td style="text-align: center;">{{music.youtubeId}}</td>
                <td style="text-align: center;" width="300px;">
                    <p-button icon="pi pi-pencil"  label="Edit" (click)=goToEditPage(music.id)></p-button>
                    <p-button icon="pi pi-trash"  label="Delete" (click)=deLete(music.id)></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-button label="<< back" (click)=goback()></p-button>