body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.readawrite.com/publicassets/2625243/images/minimalist-acoustic-guitar-wooden-background_23-2148349430.jpg");
    background-repeat: 2 repeat;
    background-position: center;
}