<p-button
  icon="pi pi-angle-left"
  styleClass="p-button-rounded p-button-secondary"
  label="BACK"
  (onClick)="back()"
></p-button>
<h1 class="center">Enjoy Your Music !</h1>
<div class="container">
  <div class="p-grid">
    <div *ngFor="let music of musicList" class="p-col-12 p-md-3">
      <p-card header="{{ music.title }}" styleClass="fullHeight">
        <p-header>
          <img
            height="200px"
            src="{{ music.imageLink }}"
            style="object-fit: cover"
          />
        </p-header>
        <p-subheader>
          <a routerLink="/display/{{ music.id }}">
            <p-button styleClass="fullwidth" label="Go"></p-button>
          </a>
        </p-subheader>
      </p-card>
    </div>
  </div>
</div>
