<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <form class="form-horizontal" role="form">
        <h2>CREATE MUSIC</h2>
        <div class="form-group">
            <label class="col-sm-3 control-label">SONG NAME</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" placeholder="SONG NAME" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">YOUTUBE ID</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" placeholder="YOUTUBE ID" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">IMAGE </label>
            <div class="col-sm-9">
                <input id="email" placeholder="Email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">  
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">CREATE</button>
    </form>
</div>