<h1>Music List </h1>
<p-dataView [value]="Musiclist">
    <ng-template let-music pTemplate="listItem">
        <div class="p-col-4">
            <a routerLink='/showdisplay/{{music.id}}' class="center">
                <div class="flex-center">
                    <img src="{{music.imageLink}}" style="height:200px; object-fit: cover;">
                </div>
                <div>{{music.title}}</div>
                <div>{{music.youtubeId}}</div>
            </a>
            <br>
        </div>
    </ng-template>
</p-dataView>